@font-face {
  font-family: poppins;
  src: url(../public/Poppins/Poppins-Medium.ttf);
}

body {
  margin: 0;
  background: linear-gradient(to left, rgb(207, 209, 215) 0%, rgb(239, 233, 233) 100%);
  font-family:poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


header{
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray{ 
  color: gray;
}

.bold{
  font-weight:bold;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo{
  max-width: 100px; 
}

section{
  margin-left: 100px;
  padding: 20px;
}

.hero{
  display: flex; 
  flex-direction:column; 
}

.hero--photo{
  max-width: 4000px;
  align-self: center;
}

.hero--header{
  font-size: xx-large;
  margin-bottom: 16px; 
  font-family: poppins, sans-serif;
}

.hero--text{
  margin-top: 0px; 
}
.text-header-container{
  
}

.hero-container{
  margin: auto;
  display: flex;
  justify-content: center;
}

.Card {
  width: 175px;
  font-size: 12px;
  border: 2px solid rgb(198, 183, 183);
}

.card--image{
  width: 300px; 
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
}

.BadgeStyle{
  position: absolute;
  margin-left: 15px;
  margin-top: 8px; 
  padding: 2px 4px;
  background-color: white;
  border-radius: 2px;
  font-weight: bold;
}

.card-container p {
  margin: 0;
  padding: 0;
  line-height: 1.2; /* Adjust line height as needed */
}

.cards-list {
  margin-top: 300px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.description{
  width: 300px;
}
.Cards--Body{
  align-content: space-around;
}

.header{ 
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .cards-list  {
      flex-direction: column; /* Stack card above text on smaller screens */
      justify-content: center;
      padding: 2rem 2rem;
  }
}