@font-face {
  font-family: poppins;
  src: url(../public/Poppins/Poppins-Medium.ttf);
}

body {
  margin: 0;
  background: linear-gradient(to left, rgb(207, 209, 215) 0%, rgb(239, 233, 233) 100%);
  font-family:poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


header{
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray{ 
  color: gray;
}

.bold{
  font-weight:bold;
}

nav {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--link{
  list-style: none;
  width: 50%; 
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  
}
.nav--logo{
  max-width: 3.25em; 
}

.Cards--Section  p { 
  margin: 0;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2em; 
  margin: 0 auto; 
}


.hero--photo{
  max-width: 50em;
  margin: 1em 1em;
  height: 80%;
  align-self: center;
  justify-self: flex-start;
  object-fit: fill;
}

.hero-text-container{
  width: 80%;
}

.hero--header{
  font-size: 3.25em;
  font-family: poppins, sans-serif;
}



.hero-container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Card {
  width: 175px;
  border: 2px solid rgb(14, 12, 12);
}

.card--image{
  width: 10.5em; 
  height: 15em;
  object-fit: cover;
  border-radius: 10%;
}

.BadgeStyle{
  z-index: 1;
  position: absolute;
  margin-left: 15px;
  margin-top: 8px; 
  padding: 2px 4px;
  background-color: white;
  border-radius: 2px;
  font-weight: bold;
}

.card-p {
  width: 90%;
}
.Cards--Section{
  border: line bold black; 
  margin: 0 auto;
  flex-grow: inherit;
   
}
.cards-list {
  position: relative;
  display: flex;
  justify-content: flex-start;

  width: 90%;
  padding: 2rem 2rem;
  color: rgb(51, 41, 41); 
  margin: 0 auto;
  
}

.hero--background{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(201, 201, 49);
  margin: 0 auto;
  
}





.header{ 
  display: flex;
  justify-content: space-between;
}


/*

@media (max-width: 1500px) {
  .cards-list  {
      flex-direction: column; 
      align-items: center;
  }
  section  {
    flex-direction: column; 
    align-items: center;      
}
}


*/